.mockups {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 18px 0px;
  height: 500px;
}

.desktopMockups {
  height: 350px;
  margin: 18px 0px;
}

.mockupFrame {
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 500px) {
  .mockups {
    height: 350px;
  }
}

@media screen and (max-width: 350px) {
  .mockups {
    grid-template-columns: 1fr;
    height: 500px;
  }

  .desktopMockups {
    height: 200px;
  }

  .mockupFrame:nth-child(2) {
    display: none;
  }
}

@media screen and (min-width: 1500px) {
  .desktopMockups {
    height: 400px;
  }
}
