.ProjectsList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  margin-top: 18px;
}

@media screen and (max-width: 500px) {
  .ProjectsList {
    grid-template-columns: 1fr;
    margin-left: 18px;
    margin-right: 18px;
    grid-gap: 18px;
  }

  .project section {
  }
}

.project {
  border-radius: 6px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  transition: 0.3s all ease-in-out;
}

.project:hover {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.project section {
  padding: 12px;
}

.project .name {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.project .image {
  height: 150px;
  background-size: cover;
  background-position: center;
}

.project .description {
  font-size: 16px;
}

.project .button {
  /* position: absolute; */
  bottom: 12px;
  width: 90px;
  text-align: center;
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 6px 24px;
  display: inline-block;
  margin-top: 12px;
  border-radius: 3px;
}
