.Technologies {
  margin-top: 18px;
}

.Technologies h2 {
  margin-bottom: 12px;
  margin-top: 6px;
}

.tech {
  color: black;
  display: inline-block;
  padding: 6px;
  margin-right: 3px;
  margin-bottom: 3px;
  border-radius: 6px;
}

.main {
  border: 5px solid red;
}
