.Hero {
  margin: auto;
  margin-top: 32px;
}

.Hero h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.25em;
}

.Hero h2 {
  margin-top: 18px;
  font-weight: 400;
}

.Hero .highlight {
  font-weight: 800;
}

.heroLinks {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.heroLinks .heroLink {
  margin-right: 18px;
  background-color: yellow;
  color: black;
  padding: 18px;
  border-radius: 60px;
  text-decoration: none;
  font-family: var(--font-display);
  font-weight: 500;
}

@media screen and (max-width: 500px) {
  .Hero h1 {
    font-size: 36px;
  }

  .Hero h2 {
    font-size: 18px;
  }

  .heroLinks .heroLink {
    font-size: 14px;
    margin-right: 6px;
  }
}
