.Hero {
  margin: auto;
  margin-top: 32px;
}

:global(.main) .Hero h1 {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.25em;
  color: white;
  text-align: left;
}

:global(.main) .Hero h2 {
  margin-top: 18px;
  font-weight: 400;
  font-family: var(--font-main);
}

.Hero .highlight {
  font-weight: 800;
  font-family: var(--font-display);
  color: var(--color-button);
}

.heroLinks {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}

.heroLinks a {
  margin-right: 3px;
}

@media screen and (max-width: 500px) {
  :global(.main) .Hero h1 {
    font-size: 54px;
    text-align: left;
  }

  .Hero h2 {
    font-size: 18px;
  }

  .heroLinks .heroLink {
    font-size: 14px;
    margin-right: 6px;
  }
}
