.Footer {
  position: relative;
  margin-top: 18px;
  width: 100%;
  text-align: center;
  height: var(--desktop-menu-height);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}
