@font-face {
  font-family: "Nabla";
  src: url("/Nabla.ttf") format("truetype");
}

@font-face {
  font-family: "Uncut";
  src: url("/Uncut.ttf") format("truetype");
}

@font-face {
  font-family: "Heming";
  src: url("/Heming.ttf") format("truetype");
}

@font-face {
  font-family: "Oceanus";
  src: url("/Oceanus.ttf") format("truetype");
}

@font-face {
  font-family: "Suit";
  src: url("/Suit.ttf") format("truetype");
}

html {
  color: white;
  background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-main: "Uncut";
  --mobile-menu-width: 100%;
  --breakpoint-1: 500px;
}

.main {
  background: linear-gradient(-45deg, #980000, #004b83);
  background-size: 300% 300%;
  animation: gradient 10s ease-in-out infinite;
  height: 100vh;
}

/* 
  #980000, 	(152,0,0)
	#984500, 	(152,69,0)
	#a77f03, 	(167,127,3)
	#0c8900, 	(12,137,0)
	#004b83, 
  */

.header {
}

.footer {
  position: absolute;
  width: 100%;
  top: 100%;
}

/* mobile first menu */
.menu {
  background-color: white;
  height: 100vh;
  width: var(--mobile-menu-width);
  position: absolute;
  top: 0;

  /* on closed */
  left: calc(var(--mobile-menu-width) * (-1));
  transition: 0.3s ease;

  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

@media screen and (min-width: 500px) {
  .menu,
  .burger {
    display: none !important;
  }
}

@media screen and (max-width: 500px) {
  .desktopMenu {
    display: none !important;
  }
}

.isOpen {
  left: 0;
}

/* mobile menu */
.menu .menuItem {
  display: block;
  padding: 18px;
  color: white;
  font-family: var(--font-main);
  font-size: 24px;
  text-decoration: none;
  font-weight: 900;
}

.desktopMenu {
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  height: 48px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
}

.desktopMenu .menuItem {
  /* border: 1px solid red; */
  margin: 0px 6px;
  padding: 0px 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  color: white;
  font-weight: 800;
  font-family: var(--font-main);
  transition: 0.3s all ease-in-out;
}

.desktopMenu .menuItem:hover {
  background: rgba(255, 255, 255, 0.21);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
}

.burger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 500;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.burger span {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 35px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
