@font-face {
  font-family: "Nabla";
  src: url("/Nabla.ttf") format("truetype");
}

@font-face {
  font-family: "Uncut";
  src: url("/Uncut.ttf") format("truetype");
}

@font-face {
  font-family: "Heming";
  src: url("/Heming.ttf") format("truetype");
}

@font-face {
  font-family: "Oceanus";
  src: url("/Oceanus.ttf") format("truetype");
}

@font-face {
  font-family: "Suit";
  src: url("/Suit.ttf") format("truetype");
}

html {
  color: white;
  background-color: #242424;
}

body {
  background: linear-gradient(-45deg, #980000, #004b83);
  background-size: 300% 300%;
  animation: gradient 10s ease-in-out infinite;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: var(--font-main);
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-main: "Uncut";
  --font-display: "Suit";
  --mobile-menu-width: 100%;
  --desktop-menu-height: 48px;
  --breakpoint-1: 500px;
}

h1 {
  font-family: var(--font-display);
  font-weight: 700;
}

h2 {
  font-family: var(--font-main);
  font-weight: 500;
}

.main {
  height: 100vh;
  position: relative;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
