@font-face {
  font-family: "Nabla";
  src: url("/Nabla.ttf") format("truetype");
}

@font-face {
  font-family: "Uncut";
  src: url("/Uncut.ttf") format("truetype");
}

@font-face {
  font-family: "Heming";
  src: url("/Heming.ttf") format("truetype");
}

@font-face {
  font-family: "Oceanus";
  src: url("/Oceanus.ttf") format("truetype");
}

@font-face {
  font-family: "Suit";
  src: url("/Suit.ttf") format("truetype");
}

@font-face {
  font-family: "Fraunces";
  src: url("/Fraunces.woff2") format("woff2");
  font-variation-settings: "SOFT" 375, "WONK" 88;
}

@font-face {
  font-family: "Basteleur";
  src: url("/Basteleur.otf") format("opentype");
}

@font-face {
  font-family: "Seasons";
  src: url("/Seasons.ttf") format("truetype");
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --font-main: "Uncut";
  --font-display: "Basteleur";
  --mobile-menu-width: 100%;
  --desktop-menu-height: 48px;
  --breakpoint-1: 500px;
  --color-button: #fff04d;
  --font-size-main: 16px;
}

html {
  color: white;
  background-color: #242424;
}

body {
  /* background: linear-gradient(-45deg, #980000, #004b83); */
  background: linear-gradient(-45deg, #44bf5c, #2c3e80, #581c1c);
  background-size: 300% 300%;
  animation: gradient 20s ease-in-out infinite;
  position: relative;
  min-height: 100vh;
  padding-bottom: 66px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  font-family: var(--font-main);
}

*::-webkit-scrollbar {
  display: none;
}

:global(.button) {
  margin-right: 3px;
  background-color: var(--color-button);
  color: black;
  padding: 12px 18px;
  border-radius: 12px;
  text-decoration: none;
  font-family: var(--font-main);
  font-weight: 700;
  font-size: 16px;
  border: 0;
  display: block;
  max-width: 150px;
  text-align: center;
}

:global(.controls) {
  margin-top: 18px;
}

h1 {
  font-family: var(--font-display);
  font-weight: 700;
}

h2 {
  font-family: var(--font-main);
  font-weight: 500;
}

:global(.main) {
  max-width: 500px;
  margin: auto;
  position: relative;
}

:global(.main) h1 {
  margin-top: 24px;
}

:global(.project-page) section {
  margin-top: 12px;
  max-width: 400px;
}

section h1 {
  font-size: 36px;
  margin-top: 12px;
}

@media screen and (max-width: 500px) {
  :global(.main) {
    padding: 0px 18px;
  }

  body {
    background: linear-gradient(-45deg, #44bf5c, #2c3e80, #581c1c);
    background-size: 300% 300%;
    animation: gradient-mobile 20s ease-in-out infinite;
  }
}

@media screen and (min-width: 1500px) {
  :global(.main) {
    max-width: 600px;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient-mobile {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 50% 60%;
  }
  100% {
    background-position: 0% 0%;
  }
}
